// CPUCoreBars/CPUCoreBars.rc

#include <windows.h>
#include "resource.h"

// Settings Dialog
IDD_SETTINGS DIALOGEX 0, 0, 252, 186
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CPU Core Bars Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "CPU Cores:",IDC_STATIC_CORES,7,7,80,8
    LISTBOX         IDC_CORE_LIST,7,18,100,161,LBS_STANDARD | LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Selected Color:",IDC_STATIC_PREVIEW,120,18,80,8
    CONTROL         "",IDC_COLOR_PREVIEW,"Static",SS_OWNERDRAW | SS_NOTIFY,120,30,60,14
    PUSHBUTTON      "Change Color...",IDC_CHANGE_COLOR_BUTTON,120,50,75,14
    DEFPUSHBUTTON   "OK",IDOK,138,165,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,195,165,50,14
END